* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #f6f7f9;
    margin: 0;
    padding: 40px;
    color: #222
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

input {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 150px;
}

input:focus {
    outline: none;
    border-color: aqua;
}

button {
    padding: 8px 14px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #392aff;
    color: white;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

button:hover {
    background-color: antiquewhite;
}

table {
    width: 420px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

thead{
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

th {
    font-weight: 600;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}

td button {
    background-color: #ef4444;
}

td button:hover {
    background-color: #dc2626;
}
